.bs-intranet-project {

}

@keyframes spinner {
	to {transform: rotate(360deg);}
}

.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 12px solid #ccc;
	border-top-color: #63636f;
	animation: spinner .6s linear infinite;
	z-index: 999;
}
